# Scikit Learn

Dividir el conjunto de datos disponibles, en datos para pruebas y en datos para test.

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [6]:
datos = np.random.randint(0,100,(100,4))
datos

array([[79,  0, 71,  4],
       [ 4, 92,  7, 64],
       [ 7, 93, 72, 36],
       [10, 62, 55, 84],
       [17, 38, 40, 66],
       [52, 73, 36, 77],
       [58, 66, 76, 96],
       [28, 74, 71, 18],
       [97, 28, 53, 96],
       [53, 87,  8, 11],
       [28,  8, 64,  0],
       [73, 25, 16, 45],
       [24, 53, 21, 68],
       [48, 75, 93, 21],
       [ 2, 16, 75, 23],
       [93, 27, 10, 24],
       [ 2, 26, 99,  2],
       [71, 62, 77, 41],
       [99, 24, 40, 25],
       [84, 72, 53, 72],
       [81,  8, 64, 96],
       [48, 32, 62, 57],
       [14, 42, 13, 15],
       [85, 14, 44, 36],
       [ 9, 60, 16, 29],
       [37, 77, 15, 25],
       [89, 58, 63, 67],
       [28, 90, 26, 72],
       [64, 23, 68, 70],
       [ 9, 73, 56, 36],
       [58, 65, 26, 33],
       [57, 45, 85,  1],
       [45, 20, 80, 67],
       [68, 13, 10, 73],
       [98, 30, 25, 37],
       [56, 90,  6, 35],
       [77, 49, 75, 12],
       [57, 28, 69, 43],
       [85, 49, 12, 30],
       [ 3, 69, 44, 36],
       [94, 19,  8, 79],
       [37, 91, 65, 27],
       [63, 87, 57, 47],
       [44, 82, 16, 64],
       [92, 45, 54, 59],
       [22, 15, 95, 38],
       [55, 94, 17, 10],
       [80, 25, 18, 18],
       [12, 65, 74, 68],
       [91, 41, 36, 18],
       [ 3,  1, 24, 37],
       [55, 32, 41, 46],
       [52,  6, 84, 58],
       [67, 38, 78, 62],
       [48, 20,  7, 28],
       [38, 32, 42, 92],
       [89, 85, 79, 73],
       [16, 78, 47, 83],
       [24, 79, 78, 63],
       [13, 38, 39, 41],
       [ 5, 17, 33, 20],
       [23, 93, 26, 36],
       [92, 85, 77,  8],
       [46, 89, 96, 47],
       [78, 47, 15, 88],
       [91, 26, 28, 54],
       [91, 73, 91, 96],
       [26, 99, 83, 40],
       [32, 79, 78, 21],
       [40, 50, 67, 55],
       [67, 68,  3, 45],
       [57, 45, 18, 28],
       [72,  2, 92, 80],
       [69, 50, 58, 86],
       [ 0, 60, 22, 79],
       [30, 48, 10, 73],
       [15, 58, 21, 69],
       [51, 13, 19,  9],
       [91, 39, 84, 27],
       [52, 30, 42, 42],
       [61, 57,  2, 36],
       [72, 86,  9,  7],
       [14, 65, 79, 88],
       [12, 38, 79, 40],
       [74,  4, 27, 57],
       [58, 93, 18, 90],
       [92, 43, 80, 57],
       [ 0, 71, 34, 79],
       [45, 21, 76, 22],
       [62, 58, 51, 21],
       [80, 90, 52, 82],
       [57, 64, 11, 55],
       [71,  3, 21, 40],
       [73, 19,  9, 37],
       [ 4,  7, 85, 75],
       [33, 84,  7, 88],
       [ 9, 25, 25, 34],
       [83,  7, 47, 81],
       [79, 96, 84, 14],
       [37, 32, 83,  8]])

In [7]:
dataframe = pd.DataFrame(data=datos, columns=['c1','c2','c3','etiqueta'])
dataframe

    c1  c2  c3  etiqueta
0   79   0  71         4
1    4  92   7        64
2    7  93  72        36
3   10  62  55        84
4   17  38  40        66
..  ..  ..  ..       ...
95  33  84   7        88
96   9  25  25        34
97  83   7  47        81
98  79  96  84        14
99  37  32  83         8

[100 rows x 4 columns]

In [9]:
x = dataframe[['c1','c2','c3']]
x

    c1  c2  c3
0   79   0  71
1    4  92   7
2    7  93  72
3   10  62  55
4   17  38  40
..  ..  ..  ..
95  33  84   7
96   9  25  25
97  83   7  47
98  79  96  84
99  37  32  83

[100 rows x 3 columns]

In [13]:
y = dataframe['etiqueta']
y

0      4
1     64
2     36
3     84
4     66
      ..
95    88
96    34
97    81
98    14
99     8
Name: etiqueta, Length: 100, dtype: int64

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [17]:
x_train.shape

(70, 3)

In [18]:
x_test.shape

(30, 3)

In [19]:
y_train.shape

(70,)

In [20]:
y_test.shape

(30,)